@font-face {
    font-family: 'Evolventa';
    src: url('Evolventa-Bold.woff2') format('woff2'),
        url('Evolventa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('Evolventa-BoldOblique.woff2') format('woff2'),
        url('Evolventa-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('Evolventa-Regular.woff2') format('woff2'),
        url('Evolventa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('Evolventa-Oblique.woff2') format('woff2'),
        url('Evolventa-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

